/*
.danger-button {
  color: white;
  background-color: red;
}

#assignment-detail {
  margin-top: 20px;
}
#assignment-detail .assignment-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card {
  width: 80%;
  margin-top: 20px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.image-item {
  width: 40%;
}

.image-item img {
  width: 100%;
  height: auto;
}

.form-group {
  width: 80%;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}
*/
.danger-button {
  color: white;
  background-color: red;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card {
  width: 80%;
  margin-top: 20px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.image-item {
  width: 40%;
}

.image-frame {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-frame img {
  width: 100%;
  height: auto;
}

.form-group {
  width: 80%;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}