<!--<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h4>Logo</h4>
        <button mat-button style="background-color: blueviolet;"><mat-icon>home</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
-->

<!--
<mat-toolbar color="primary" class="example-toolbar" style="display: flex; justify-content: space-between;">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon> </button>
	<h1 class="example-app-name">K's Project</h1>

  <mat-icon>perm_identity</mat-icon>
</mat-toolbar>
-->


<!--
<mat-toolbar color="primary" class="example-toolbar" style="display: flex; justify-content: space-between;">
	<button mat-icon-button (click)="toolbarService.isExpanded = !toolbarService.isExpanded"><mat-icon>menu</mat-icon> </button>
	<h1 class="example-app-name">K's Project</h1>

  <!- <mat-icon>perm_identity</mat-icon> ->
  <mat-menu #menu="matMenu">
    <div *ngIf="isAuth(); else logging">
    <button mat-menu-item (click)="onLogout()">Déconnexion</button>
      </div>
      <ng-template #logging>
            <button mat-menu-item (click)="onLogin2()">Connexion</button>
          </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>perm_identity</mat-icon>
  </button>

</mat-toolbar>
-->


<!--
<mat-toolbar color="primary">
  <span>Mon Application</span>
  <span class="spacer"></span>

  <div *ngIf="!isAuth(); else logged">
    <mat-form-field>
      <input matInput placeholder="Login" [(ngModel)]="login" name="login">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>

    <button mat-button (click)="onLogin()">Connexion</button>
  </div>

  <ng-template #logged>
    <button mat-button (click)="onLogout()">Déconnexion</button>
  </ng-template>
</mat-toolbar>
-->

<mat-toolbar color="primary" class="example-toolbar" style="display: flex; justify-content: space-between;">
  <button mat-icon-button (click)="toolbarService.isExpanded = !toolbarService.isExpanded"><mat-icon>menu</mat-icon> </button>
  <h1 class="example-app-name">K's Project</h1>

  <div *ngIf="!isAuth(); else logged">
    <mat-form-field>
      <input matInput placeholder="Login" [(ngModel)]="login" name="login">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>

    <!--<div *ngIf="loginError" class="error-message">
      Login incorrect
    </div>-->

    <button mat-button (click)="onLogin()">Connexion</button>
  </div>

  <ng-template #logged>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>perm_identity</mat-icon>
        {{ login }}
      </button>
      <button mat-menu-item (click)="onLogout()">Déconnexion</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>